@import './Root.css';

.player-container { background-color: var(--player-color); }
.player-wrapper { width: var(--player-width); margin: auto; }
.aspect-ratio { padding-top: 56.25%; }


@media only screen and (max-width: 1280px) and (min-width: 500px) {
    .player-wrapper { width: 80% }
    .aspect-ratio { padding-top: 56.25%; }
}

@media only screen and (max-width: 499px) {
    .player-wrapper { width: 95% }
    .aspect-ratio { padding-top: 42%; }
}